.popup {
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid var(--border-color-dark);
    border-radius: 6px;
    filter: drop-shadow(0 0 3px var(--border-color-dark));
    min-height: 240px;
    min-width: 240px;
    width: 90vw;
    max-width: 600px;
    background-color: #ffffff;

    &__header {
       display: flex;
       justify-content: end;
    }

    &__close-btn {
        padding: 4px 8px;
        background-color: var(--red);
        color: #ffffff;
        font-size: 20px;
        line-height: 20px;
    }

    &__body {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .popup {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .popup {
        padding: 10px;
    }
}

@media (max-width: 430px) {
    .popup {
        width: 95vw;
        padding: 5px;
    }

    .user__title {
        font-size: 22px;
    }
}
