.initial-placeholder {

    &__container {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        background: url('./bg.svg');
        background-repeat: no-repeat;
        background-position: center 0;
        animation-name: bg-move;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
         p {
            padding: 0 20px;
         }

         .line {
            height: 1px;
            width: 100%;
            background-color: var(--accent-light-fade);
        }

        p span {
            position: relative;
            color: black;
            z-index: 1000;
        }
    }

  
}

@media screen and (max-width: 430px) {
    .initial-placeholder__container {
        font-size: 16px;
        line-height: 22px;
    }
    
}

@keyframes bg-move {
    0% {
        background-position: center 0
        ba
    }
 
    50% {
        background-position: center 5px
    }

    100%{
        background-position: center 0
    }
}