.initial-placeholder {

    &__container {
        width: 100%;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
         p {
            padding: 0 20px;
         }
    }
}

@media screen and (max-width: 430px) {
    .initial-placeholder__container {
        font-size: 16px;
        line-height: 18px;
    }
    
}